@import 'tailwindcss';

@layer utilities {
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  .animate-typing {
    animation: typing 1.5s steps(40, end) infinite, blink-caret .75s step-end infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .15em solid orange; /* The typwriter cursor */
    width: 0; /* Start with zero width */
  }
  .animate-typing-loop {
    animation: typing 1.5s steps(40, end) infinite, blink-caret .75s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    display: inline-block; /* Needed for width animation */
  }
}